:root {
  --background-color: #083447;
  --font-color: #f0f0f0;
}

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;

}

body {
  margin: 0 0;

  background: var(--background-color);

  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 1.5rem;
  
  color: var(--font-color)

}

main {
  padding: 0 12px;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;

}

main p {
  margin: 12px 0;
}

footer {
  opacity: 0.8;
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;

  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}

.profile-pic {
  width: 200px;
  width: 200px;
  border-radius: 50%;
}
